<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://test-event-trigger-func-d7afcmcufrd0hahp.uksouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/568c664d-9469-4884-a44c-30fa87dc512a/resourceGroups/test-event-trigger-func_group/providers/Microsoft.Web/sites/test-event-trigger-func</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://test-event-trigger-func-d7afcmcufrd0hahp.scm.uksouth-01.azurewebsites.net/</PublishUrl>
    <UserName>damiank</UserName>
  </PropertyGroup>
</Project>